/*****

site: yoyodevagency.com
author: matt trask
copyright: 2015

*****/

/*
1. Main Styles
2. Individual Pages
3. Specialized Area
*/

body {
	background-color: #000;
	color: #F7CA18;
}

#main {
	padding-top: 70px;
	font-family: 'Muli', sans-serif;;
}

/*************

NAVBAR STYLES

*************/

.navbar {
	background-color: #F7CA18;
	border: 0px #F7CA18;
}